* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* svg {
  pointer-events: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 28);
}

.main-container {
  height: 100vh; /* Занимает всю высоту вьюпорта */
  width: 100vw; /* Занимает всю ширину вьюпорта */
  display: flex;
  align-items: center;
  position: relative; /* Для позиционирования кнопок */
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-pages-container {
  height: 100%;
  display: flex;
  transition: transform 300ms ease-in-out; /* Упрощение записи */
}

.enter-button {
  color: white;
  width: 40vw; /* Изменяем ширину для мобильных устройств */
  height: 10vh; /* Высота кнопки в процентах от высоты вьюпорта */
  border: none;
  background: #0666e4;
  border-radius: 30px;
  margin-inline-start: 5vw;
}

.exit-button {
  color: white;
  width: 10vw; /* Изменяем ширину для мобильных устройств */
  height: 10vh; /* Высота кнопки в процентах от высоты вьюпорта */
  border: none;
  border: 2px solid #0666e4;
  border-radius: 30px; /* Увеличиваем радиус для мобильных устройств */
  background-color: transparent;
  margin-inline-start: 10vw;
}

.container-button {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10vw; /* Позиционируем кнопки внизу */
  width: 100%; /* Занимаем всю ширину */
}

/* Стили для индикаторов */
.indicators {
  position: absolute;
  z-index: 5;
  top: 5vw; /* Расположение индикаторов сверху */
  display: flex;
  justify-content: center;
  width: 100%;
}

.indicator {
  width: 1.5vw; /* Ширина индикатора */
  height: 1.5vw; /* Высота индикатора */
  border-radius: 50%; /* Круглая форма */
  background-color: #828282; /* Цвет неактивного индикатора */
  margin: 0 1vw; /* Отступы между индикаторами */
  transition: background-color 0.3s; /* Плавный переход цвета */
}

.indicator.active {
  background-color: #d9d9d9; /* Цвет активного индикатора */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 425px) {
  .exit-button {
    width: 30vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }

  .enter-button {
    width: 45vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }
}

@media (max-width: 375px) {
  .exit-button {
    width: 30vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }

  .enter-button {
    width: 45vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }
}

@media (max-width: 320px) {
  .exit-button {
    width: 30vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }

  .enter-button {
    width: 45vw; /* Увеличиваем ширину кнопок на маленьких экранах */
    height: 6vh; /* Уменьшаем высоту кнопок */
  }

  .indicators {
    top: 2vw; /* Сдвигаем индикаторы вверх */
  }

  .indicator {
    width: 1.5vw; /* Уменьшаем размер индикаторов */
    height: 1.5vw; /* Уменьшаем размер индикаторов */
  }
}

.item svg {
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 426px) {
  .item svg {
    max-height: 80vh; /* Ограничиваем высоту для маленьких экранов */
  }
}

@media (max-width: 375px) {
  .item svg {
    max-height: 70vh; /* Еще меньше для очень маленьких экранов */
  }
}

@media (max-width: 319px) {
  .item svg {
    max-height: 60vh; /* Минимальная высота для самых маленьких экранов */
  }
}
